defaults: &defaults
  working_directory: ~/repo

  steps:
    - checkout

    - run:
        name: install dependencies
        command: |
          bundle install --jobs=4 --retry=3 --path vendor/bundle

    - run:
        name: run rubocop
        command: bundle exec rubocop

    - run:
        name: run tests
        command: |
          mkdir /tmp/test-results
          bundle exec rspec --format progress \
                          --format RspecJunitFormatter \
                          --out /tmp/test-results/rspec.xml \
                          --format progress

    - store_test_results:
        path: /tmp/test-results
    - store_artifacts:
        path: /tmp/test-results
        destination: test-results

version: 2
jobs:
  build-ruby-2.4.1:
    <<: *defaults
    docker:
      - image: circleci/ruby:2.4.1
    
  build-ruby-2.3.3:
    <<: *defaults
    docker:
      - image: circleci/ruby:2.3.3

workflows:
  version: 2
  build:
    jobs:
      - build-ruby-2.4.1
      - build-ruby-2.3.3